/* css/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Exo 2", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
}

h1, h2 {
    color: #333;
}

.font-exo {
    font-family: "Exo 2", sans-serif;
}
